integration/src/main/app/soa_integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <data-mapper:config name="Pojo_To_JSON" transformationGraphPath="pojo_to_json.grf" doc:name="Pojo_To_JSON"/>
    <http:body-to-parameter-map-transformer name="Body_to_Parameter_Map" doc:name="Body to Parameter Map"/>
    <flow name="updateFlow" doc:name="updateFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="MD/OrderService" doc:name="CreateOrder"/>
        <cxf:jaxws-service serviceClass="fr.unice.polytech.groupe.integration.services.OrderService" doc:name="CXF"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="/vm/MD/createOrder" doc:name="/vm/MD/createOrder"/>
    </flow>
    <flow name="soa_integrationFlow2" doc:name="soa_integrationFlow2">
        <vm:inbound-endpoint exchange-pattern="request-response" path="/vm/MD/createOrder" doc:name="CreateOrder"/>
        <set-variable variableName="order" value="#[message.payload]" doc:name="order"/>
        <logger message="Creation commande" level="INFO" doc:name="CreateOrder"/>
        <data-mapper:transform config-ref="Pojo_To_JSON" doc:name="Pojo To JSON"/>
        <set-payload value="?adresses%3D%7Binvoice:%7B&quot;line1&quot;:&quot;391&quot;,&quot;line2&quot;:&quot;chemin des bruyere&quot;,&quot;zipCode&quot;:&quot;83550&quot;,&quot;city&quot;:&quot;Vidauban&quot;,&quot;kind&quot;:&quot;PERSONAL&quot;%7D,delivery:%7B&quot;line1&quot;:&quot;391&quot;,&quot;line2&quot;:&quot;chemin des bruyere&quot;,&quot;zipCode&quot;:&quot;83550&quot;,&quot;city&quot;:&quot;Vidauban&quot;,&quot;	kind&quot;:&quot;PERSONAL&quot;%7D%7D" doc:name="Set Payload"/>
        <http:outbound-endpoint exchange-pattern="request-response"    method="POST" doc:name="HTTP" address="http://localhost:8080/rest/user/1/order#[payload]"/>
        <scripting:component doc:name="createReceipt">
            <scripting:script engine="Groovy"><![CDATA[def receipt = new fr.unice.polytech.groupe.integration.business.Receipt();



return receipt;]]></scripting:script>
        </scripting:component>
    </flow>
</mule>
